<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>留言墙</title>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <style>
            *{
                margin: 0;
                padding: 0;
            }
            
        </style>
    </head>
    <body>
        <canvas id="myCanvas" width="1000" height="500"></canvas>
        <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <div class="input-group input-group-lg">
                    
                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                    <input type="text" id='name' class="form-control" placeholder="你的名字" aria-describedby="sizing-addon1">
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group input-group-lg">
                     <input type="text" class="form-control" placeholder="想说的话..." id='tst'>
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="up">上墙!</button>
                     </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            </div>
        </div>
        </nav>
        <!--我太懒了，不想写，搞了个捷径解决pop-->
        <div id="A">
            <a tabindex="0" style="position: absolute;" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">.</a>
        </div>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src = "https://cdn.wilddog.com/sdk/js/2.5.8/wilddog.js"></script>
        <script>
            // 数据存放点
            let mesArr=[];
            // 配置Wilddog
            let config = {
                    authDomain: "danmu.wilddog.com",
                    syncURL: "https://demo-tanmu.wilddogio.com"};
            wilddog.initializeApp(config);
            var ref = wilddog.sync().ref();
            // 绑定 'child_added' 事件，当 message 节点下有子节点新增时，就会触发回调，回调的 `snapshot` 对象包含了新增的数据
            ref.child('messages').on('child_added', function(snapshot) {
                mesArr.push(snapshot.val());
                creAre(mesArr);
            });
            // 随机坐标
            let coordinate=(x=1000,y=500)=>Math.floor(Math.random()*x)+","+Math.floor(Math.random()*y);
            // 生成不重复的坐标
            let ranCoord=(arr)=>{
                let temp=coordinate();
                if(arr.includes(temp)){
                    ranCoord(arr);
                }else{
                    return temp;
                }
            }
            // 画圆
            function drawQ(x,y){
                var c=document.getElementById("myCanvas");
                var cxt=c.getContext("2d");
                cxt.fillStyle="#FF0000";
                cxt.beginPath();
                cxt.arc(parseInt(x),parseInt(y),15,0,Math.PI*2,true);
                cxt.closePath();
                cxt.fill();
            }
            // 判断是否点到圆
            function Panduan(x,y,json){
                let tempXY=x+","+y;
                let t=json.find(function(e){
                    let arr=e.coord.split(',');
                    return b2(arr[0],arr[1],15,x,y)
                });
                // 返回查到的数据/没有为un
                return t;
            }
            // 计算点击的范围内是否有圆
            function b2(x,y,r,px,py){
                let maxX=parseInt(x)+parseInt(r),
                    maxY=parseInt(y)+parseInt(r),
                    minX=parseInt(x)-parseInt(r),
                    minY=parseInt(y)-parseInt(r);
               if(minX<=px&&px<=maxX&&minY<=py&&py<=maxY){
                   return true;
               }else{
                   return false;
               }     
            }
            // 利用Bootstrap的Pop提示框显示文本
            function pop(x,y,tit="坐标",str="信息",el="a[tabindex=0]"){
                $(el).css({
                    "top":x+"px",
                    "left":y+"px",
                }).attr({
                    "data-original-title":tit,
                    "title":tit,
	                "data-content":str
                }).popover('show');
            }
            // 根据数据生成圆 
            function creAre(json){
                for(let b of json){
                    let arr=b.coord.split(',');
                    drawQ(arr[0],arr[1]);
                }
            }
            // 鼠标点击获取坐标
            $('#myCanvas').on('click',function(e){
                    let x=e.offsetX;
                    let y=e.offsetY;
                    // 进行判断
                    let p=Panduan(x,y,mesArr);
                    // 没点到时
                    if(p===undefined){
                        $("a[tabindex=0]").popover('hide')
                    }else{
                        // 点到时pop弹出
                        let tit=p.title;
                        let con=p.content;
                        pop(y,x,tit,con);
                    };
            })
            // 提交数据
            $('#up').on('click',function(){
                // 获取输入框的数据
                let title=$('#name').val();
                let text = $("#tst").val();
                // 清空文本框
                $('#name').val("");
                $("#tst").val("");
                 // 将数据写到云端 messages 节点下，child 用来定位子节点
                let postsRef = ref.child("messages");
                postsRef.push({
                        "coord":ranCoord(["100,100"]),
                        "title": title,
                        "content":text 
                });
            })
</script>
    </body>
</html>
