<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打地鼠</title>
    <link rel="stylesheet" href="../public/stylesheets/dadishu.css">
</head>
<body>
    <audio   src="../public/audio/music.mp3" autoplay loop id='bgAudio'></audio>
    <audio src="" id="dazhong"></audio>
    <p id="score">得分：0</p>
    <table>
    <tr>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
    </tr>
    <tr>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
    </tr>
    <tr>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
    </tr>
    <tr>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
        <td><img src="../public/image/dishu/mouse.png" alt="地鼠"></td>
    </tr>
    </table>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="../public/javascripts/dadishu.js"></script>
</body>
</html>
