html,body,main{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
main{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .font{
    font-size: 400px;
    font-family:'a671b0527d517113';
}
.deploy{
    position: absolute;
    background-color: brown;
    z-index: 2;
    width: 10%;
    min-width: 110px;
    height: 100%;

    display: none;
    flex-direction: column;
    text-align: center;
}
.deploy input{
    width: 100px;
}
.she{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transition: 1s;
}
.she:hover{
    transform: rotate(360deg);
}
@keyframes asUp {
    to{width: 0}
    from{width: 10%;
        min-width: 110px;}
}
.tip{
    position: absolute;
    top:0;
    left: 40px;
    line-height: 30px;
    font-size: 30px;
}
#score{
    padding: 0 10px 0 10px;
}