html, body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: Helvetica,微软雅黑;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #009fe4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1d9fe4;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00aff0;
}

@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes hideLog {
  90% {
    opacity: 1;
    transform: none;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes topBottom {
 0% {
   transform: inherit;
   opacity: 1;
 }
  50% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}
@keyframes bottomTop {
  0% {
    transform: inherit;
    opacity: 0;
  }
  50% {
    transform: unset;
    opacity: 1;
  }
  100% {
    transform: unset;
    opacity: 1;
  }
}
.md-chrome {
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  z-index: 2;
  position: fixed;
  animation: hideLog 5s forwards;
}
.md-logo {
  position: fixed;
  width: 30px;
  height: 30px;
  img {
    width: 30px;
    height: 30px;
    transform-origin: 50% 50%;
    transition: all 2s;
    animation: rotate360 2s forwards infinite cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover {
    & ~ .md-dialog {
      .dialog-bg {
        background-color: rgba(245, 245, 245, 0.9);
        transform: scale(80);
        border-radius: unset;
      }
    }
  }
}

.md-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  &.top {
    max-width: 100%;
    padding-bottom: unset;
    .md-article {
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
      margin-bottom: unset;
      .title-line {
        width: 120px;
        height: 2px;
        background-color: black;
        margin-bottom: 36px;
      }
      &:hover {
        box-shadow: unset;
        & > .tip {
          margin-top: 0;
          > .title {
            background-color: inherit;
          }
        }
      }
      .img-box {
        max-width: 100%;
      }
      .tip {
        width: 400px;
        height: auto;
        .info {
          opacity: 1;
        }
      }

    }
  }
  .md-article {
    flex: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 400px;
    height: 470px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: all 0.8s;
    text-decoration: unset;
    color: unset;
    &:hover {
      box-shadow: 0 26px 40px -16px rgba(0, 36, 100, 0.3);
      & > .tip {
        margin-top: -70px;
        > .title {
          background-color: #cccccc7a;
        }
        > .info {
          opacity: 1;
        }
      }
    }
    .img-box {
      flex: 1;
      width: 400px;
      height: 400px;
      max-width: 400px;
      min-height: 400px;
      overflow: hidden;
    }
    .img {
      width: 100%;
      height: 100%;
      background-image: url("../images/default.jpeg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.8s;
      filter: grayscale(100%);
      &:hover {
        transform: scale(1.15);
        filter: none;
      }
    }
    > .tip {
      z-index: 2;
      width: 100%;
      height: 175px;
      min-height: 175px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.6s;
      .title {
        font-size: 28px;
        font-weight: normal;
        height: 70px;
        line-height: 70px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
        transition: all 0.8s;
      }
      .info {
        font-size: 18px;
        line-height: 1.7;
        text-align: center;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        opacity: 0;
        transition: all 0.8s;
      }
    }
  }
}

.dialog-bg {
  width: 60px;
  height: 60px;
  position: fixed;
  background-color: rgba(245, 245, 245, 0.7);
  top: -60px;
  left: -60px;
  border-radius: 50%;
  transition: all 2s;
  transform-origin: 50% 50%;
  z-index: 3;
  &:hover {
    background-color: rgba(245, 245, 245, 0.9);
    transform: scale(80);
    border-radius: unset;
  }
}

.essay {
  width: 100%;
  max-width: 1260px;
  text-align: left;
  font-family: Gotham-Book;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 40px 0;
  letter-spacing: 1px;
  img {
    display: block;
    max-width: 1260px;
    //margin: 0 auto;
  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 36px;
      line-height: 1.4;
      letter-spacing: 2px;
      text-align: center;
    }
    span.title-line {
      display: block;
      width: 150px;
      height: 1px;
      margin-top: 25px;
      background-color: #3f3f3f;
    }
    .info {
      text-align: center;
      max-width: 800px;
      margin: 40px auto;
    }
  }
  ol, ul {
    list-style-type: circle;
    li {
      >input {
        background: yellow;
        list-style: none;
        margin-left: -20px;
      }
    }
  }
  h2, h3, h4, p, pre, ol, ul {
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.4s;
    &.show {
      opacity: 1;
      transform: unset;
    }
  }
  h3 {
    margin: 40px 0;
    font-family: Gotham-Medium;
    letter-spacing: 2px;
    font-size: 18px;
    &::before {
      content: "\e69a";
      display: inline-block;
      font-family: "iconfont" !important;
      font-size: inherit;
      font-style: normal;
      color: #f95574;
      padding-right: 10px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    & > a {
      &::before {
        content: unset;
      }
    }
  }
  a {

    text-decoration: unset;
    color: #1296db;
    padding-right: 5px;
    &::before {
      content: "\e600";
      display: inline-block;
      font-family: "iconfont" !important;
      font-size: inherit;
      font-style: normal;
      color: inherit;
      padding: 0 5px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  code {
    padding: 2px 4px;
    word-wrap: break-word;
    background: #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  pre {
    display: block;
    color: rgb(220, 220, 220);
    padding: 0.5em;
    background: rgb(63, 63, 63);
    code {
      all:unset;
      font-family: Helvetica;
      &.hljs {
        &::-webkit-scrollbar {
          width: 2px;
          height: 2px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #696565;
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: #1d9fe4;
        }
        &::-webkit-scrollbar-thumb:active {
          background-color: #00aff0;
        }
      }
    }
  }
  .bottom-box {
    position: fixed;
    left: 0;
    bottom: -60px;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 0 50px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    font-size: 16px;
    transition: all 0.6s;
    >.left, >.right {
      display: flex;
      flex-direction: row;
      .op {
        margin: 0 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.time {
          margin-left: 50px;
          position: relative;
          >span {
            position: absolute;
            white-space: nowrap;
            animation: topBottom 8s infinite forwards;
            &:nth-child(2) {
              transform: translateY(-22px);
              opacity: 0;
              animation: bottomTop 8s infinite forwards;
            }
          }
        }
      }
      i {
        font-size: 20px;
        margin: 0 4px;
        &::after{
          content: attr(data-like);
          color: black;
          font-size: 16px;
          padding-left: 6px;
        }
      }
    }
    #like {
      transition: all 0.4s;
      cursor: pointer;
      &.icon-xihuan1 {
        color: #d81e06;
      }
    }
  }
}